* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-image: url("../images/background.jpg");
  height: 880px;
  background-size: 100% 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 20px;
}

.menu ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.search__box {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
  position: relative;
  top: 50px;
  left: 50px;
  background-color: white;
}

.search__title {
  font-size: 30px;
  font-weight: 800;
  color: rgb(75, 75, 75);
}

.search__sub__title {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
}

table {
  width: 100%;
}

.search__input {
  width: 100%;
  height: 30px;
  color: rgb(100, 100, 100);
  border: 1px solid rgb(230, 230, 230);
}

.search__button {
  display: grid;
  justify-content: end;
  padding: 10px 0;
}

.search__button button {
  background-color: #ff5a5f;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
  cursor: pointer;
}

main {
  margin: 30px 80px;
}

section {
  margin: 30px 0;
}

.sec__title {
  font-size: 25px;
  font-weight: 800;
  color: rgb(68, 68, 68);
  margin: 0 0 20px 0;
}

.card__img {
  background-image: url("../images/card1.jpg");
  height: 70px;
  background-size: 100% 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid rgb(210, 210, 210);
}

.card__content {
  display: grid;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
}

.card__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 10px;
}

.ad {
  border-radius: 20px;
  margin: 40px 0;
  background-image: url("../images/ad1.jpg");
  height: 350px;
  background-size: 100% 100%;
}

.home__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.home__img {
  background-image: url("../images/home1.png");
  height: 180px;
  background-size: 100% 100%;
}

.info1 {
  margin: 5px 0;
  font-size: 13px;
  color: grey;
}

.info2 {
  font-size: 18px;
  color: rgb(60, 60, 60);
  font-weight: 600;
}

.star,
.count,
.type {
  font-size: 12px;
}
